.post {
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    height: 100%;
    background-color: white;

    &__title {
        font-size: 18px;
        font-weight: 700;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 300;
    }

    &__content {
        font-size: 12px;
    }
}
